*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.movile{
    margin: 15px auto;
    width: 400px;
    height: 800px;
    background-color: #333;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_box{
    width: 95%;
    height: 90%;
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 40px;
}
.data{
    height: 50px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(75, 190, 239);
    text-align: center;
    line-height: 50px;
    padding: 0px 20px;
    /* grid two co */
}
.data.data:nth-child(2n){
    background-color:rgba(90, 243, 146, 0.803);
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 100px;
    height: 30px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 ;
}